@media (max-width: 576px) {
    .reusable-table {
        display: block;
    }

    .xs-mt-1 {
        margin-top: 10px;
    }
}

@media (max-width:767px) {
}

@media (max-width:991px) {
}

@media (min-width:320px) and (max-width:575px) {
}

@media (min-width:576px) and (max-width:767px) {
}

@media (min-width:768px) and (max-width:991px) {
}

@media (min-width:992px) and (max-width:1199px) {
}



/*1200 below*/
@media (max-width:1200px) {
    html {
        font-size: 12px;
    }

    .top-nav-list {
        display: none;
    }

    .nav-left-block-xs {
        display: none;
    }

    /*.nav-right-icons {
        float: right;
        width: 50%;
    }*/
    /*.modal-overlay-custom{
        width: 100%;
    display: block;
    z-index: 999;
    background: black;
    height: 100%;
    position: fixed;
    margin-top: 48px;
    opacity: 0.3;
    }*/
   /* .icon-im-filter{
        display:none;
    }*/
}

/*1200 above*/
@media (min-width:1201px) {
    html {
        font-size: 14px;
    }

    .burger-menu {
        display: none;
    }

    .top-nav-list {
        width: 75%;
    }

    .nav-left-block-xs {
        display: none;
    }
    .table-res-custom-flex {
        width:60%;
    }
}

/*table above*/
/*Changed from 1800px to 1922px by Dinesh for RIL requirements. It was breaking for 1922px 100% resolution */
@media (min-width:1922px) {
    .table-d-block {
        display:inline-table !important;
    }
}

/*Added by Dinesh */
@media only screen and (max-width: 1466px) {
    .ml-100px {
        margin-left: 100px !important;
    }
}
